name: check mappings
on:
  push:
    branches:
      - 'master'

jobs:
  checkMappings:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          21,    # Current Java LTS & minimum supported by Minecraft
        ]
        # and run on both Linux and Windows
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          java-package: jdk
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./.gradle/loom-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: "cache mappingsGen"
        uses: actions/cache@v4
        with:
          path: |
            ./run-mappingsGen
          key: ${{ runner.os }}-mappingsGen-${{ hashFiles('./genMappings.sh') }}
          restore-keys: |
            ${{ runner.os }}-mappingsGen-
      - name: generate mappings
        env:
          MAPPINGS_GEN_FRESH: true
        run: ./genMappings.sh
      - name: fail if mappings changed
        run: |
          git update-index --refresh
          if ! git diff-index --quiet HEAD --; then
              echo "Mappings changed, please commit them"
              git diff
              git diff --staged
              exit 1
          fi
